.nav{
    background-color: black;
}
.move{
    position: relative;
}
.lupa{
    position: absolute;
    top: 0;
    right: 20px;
}
img,i{
    cursor: pointer;
}
.Link{
    text-decoration: none;
    color: white;
}
.Link:hover{
    color:yellow;
}