.nav{
    background-color: black;
}
.move{
    position: relative;
}
.lupa{
    position: absolute;
    top: 0;
    right: 20px;
}
img,i{
    cursor: pointer;
}
.Link{
    text-decoration: none;
    color: white;
}
.Link:hover{
    color:yellow;
}
@media (min-width:1050px){
    #buscar{
        margin-left: 10vw;
    }
    #links{
        margin-left: 7vw;
    }
}
@media (min-width:850px) and (max-width:1050px){
    #buscar{
        margin-left: 5vw;
    }
    #links{
        margin-left: 3vw;
    }
}