.cat{
    display: flex;
}
.cats{
    cursor: pointer;
    color: black;
}
.cats:hover{
    color: rgb(0, 51, 255);
}
@media screen and (max-width:768px){
    .cat{
        flex-wrap: wrap;
        justify-content: center;
    }
}
.cdk{
    display: flex;
    flex-direction: column;
}